@font-face {
    font-family: 'Product-sans';
    src: url('../product-sans/Product\ Sans\ Regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Product-sans', Arial, sans-serif;;
}

body{
    background-color: orange!important;
    width: 100%;
    height: auto;
    text-align: center;
}

.main{
    min-height: 66vh;
}

header{
    background-color: rgba(249, 252, 252, 0.26);
    width: 95%;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 20px;
    
}

nav{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 252, 252, 0.26);
}


li{
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(251, 102, 3, 0.623);
}

a{
    text-decoration: none;
    color: black;
}

.contacto{
    width: 160px;

}

li:hover{
    background-color:rgba(251, 102, 3, 0.623);
    border-radius: 20px;
}

header img{
    width: 90px;
    height: auto;
}

header p{
    font-size: 27px;
    font-weight: bold;
    text-shadow: 0 1px 0px #b47837, 1px 0 0px #e07415, 1px 2px 1px #b26d0c, 2px 1px 1px #6b4d07, 2px 3px 2px #ad5707, 3px 2px 2px #954f04, 3px 4px 2px #9f3406, 4px 3px 3px #c1720a, 4px 5px 3px #a45108, 5px 4px 2px #e69021, 5px 6px 2px #d5911d, 6px 5px 2px #e86e0a, 6px 7px 1px #fc7804, 7px 6px 1px #65431c, 7px 8px 0px #da5c13, 8px 7px 0px #eb8b24;
}

.container{
    width: 800px;
    height: 300px;
    font-size: 25px;
    background-color: rgba(251, 254, 254, 0.561);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 1%;
    border: 2px solid rgb(236, 134, 9);
    z-index: 10;
}

button{
    width: 250px;
    height: 50px;
    background-color: rgb(108, 144, 41);
    border: 2px solid rgb(63, 93, 8);
    margin-top: 2%;
    border-radius: 30px;
    font-size: 20px!important;
    font-weight: bold;
}

button:hover{
    background-color: rgb(236, 134, 9);
    border: 2PX solid  rgb(236, 85, 9);
}

.fraseH1{
    font-size: 30px;
    margin: 10px;
}

#img{
    width: 95%;
    height: 495px;
    background-color: rgba(249, 252, 252, 0.456);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 0.1px;
    background-image: url('../imgChuck/aaa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
    margin-top: -6.2%;
    width: 250px;
    height: 250px;
    
}

footer{
    margin-top: 5%;
    width: 95%;
    background-color: rgba(249, 252, 252, 0.26);
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}


@media (max-width: 1200px) {
    .nav-item{
        font-size: 19px;
    }
    header p{
        font-size: 23px;
    }
}

@media (max-width: 510px) {
    header p, .navbar-brand{
        font-size: 18px;
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center!important;

    }
    header p img{
        display: none;
    }
    .fraseH1{
        font-size: 25px;
    }
}